---
import GymIcon from "../svg/GymIcon.astro";
---

<div class="space-y-8 text-white/80 md:text-white">
  <div class="flex gap-3 items-center">
    <div class="shrink-0 translate-y-[2px]">
      <GymIcon />
    </div>
    <p class="text-sm lg:text-base">
      Entrenamiento y nutrición para quienes no aceptan excusas.
    </p>
  </div>

  <div class="flex gap-3 items-center">
    <div class="shrink-0 translate-y-[2px]">
      <GymIcon />
    </div>
    <p class="text-sm lg:text-base">
      Gym, casa y app conectados en un solo sistema para resultados medibles y
      garantizados.
    </p>
  </div>
</div>
