@import "tailwindcss";

@theme {
  --color-primary-50: #fbf3ff;
  --color-primary-100: #f4e2ff;
  --color-primary-200: #ebcbff;
  --color-primary-300: #dca2ff;
  --color-primary-400: #c767ff;
  --color-primary-500: #b32dff;
  --color-primary-600: #a006ff;
  --color-primary-700: #8c00f8;
  --color-primary-800: #8200db;
  --color-primary-900: #6202a1;
  --color-primary-950: #44007b;
  --color-secondary-50: #f4f7fb;
  --color-secondary-100: #e8eef6;
  --color-secondary-200: #ccdbeb;
  --color-secondary-300: #9fbdda;
  --color-secondary-400: #6b9ac5;
  --color-secondary-500: #487daf;
  --color-secondary-600: #366393;
  --color-secondary-700: #2d5077;
  --color-secondary-800: #284564;
  --color-secondary-900: #263b54;
  --color-secondary-950: #172333;
  --color-terciary-50: #eefcfd;
  --color-terciary-100: #d3f4fa;
  --color-terciary-200: #ace8f5;
  --color-terciary-300: #73d6ed;
  --color-terciary-400: #00d6d6;
  --color-terciary-500: #11bfc0;
  --color-terciary-600: #177fa3;
  --color-terciary-700: #196785;
  --color-terciary-800: #1d556d;
  --color-terciary-900: #1d475c;
  --color-terciary-950: #0d2e3f;
  --color-rosado-rojo: #ff0b7a;
  --color-rose-50: #fff0f8;
  --color-rose-100: #ffe3f4;
  --color-rose-200: #ffc6ea;
  --color-rose-300: #ff98d6;
  --color-rose-400: #ff58b9;
  --color-rose-500: #ff279b;
  --color-rose-600: #ff0b7a;
  --color-rose-700: #df0059;
  --color-rose-800: #b8004a;
  --color-rose-900: #980341;
  --color-rose-950: #5f0022;
}
